---
import { Card, CardContent, CardHeader, CardTitle } from "../ui/card";
---

<Card className="col-span-2 animate-fade-up animate-duration-700">
  <CardHeader className="pb-0">
    <CardTitle className="flex text-accent-foreground/80 items-center">
      About me
    </CardTitle>
  </CardHeader>
  <CardContent className="py-2">
    <p class={"my-2"}>
      I am a Software Engineer with over 9 years of experience in building
      software applications.
    </p>
    <p class={"my-2"}>
      I like to parse AST's, work on VS code extensions and build web apps. I
      also like to write about developer experience tools.
    </p>
  </CardContent>
</Card>
