---
import { MapPin } from "lucide-astro";
interface Props {
  location: string;
}
const props: Props = Astro.props;
---

<div class="flex items-center gap-1">
  <MapPin size="18px" class="stroke-muted-foreground" />
  <span class="text-muted-foreground/70 text-sm">{props.location}</span>
</div>
