---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Experience from "@/components/astro/Experience.astro";
import Skills from "@/components/astro/Skills.astro";
import Projects from "@/components/astro/Projects.astro";
import Blogs from "@/components/astro/Blogs.astro";
import Aboutme from "@/components/astro/Aboutme.astro";
---

<Layout title="Vijayakrishna NV | Software Engineer">
  <main class="my-4">
    <div class="grid md:grid-cols-6 gap-2">
      <div class="md:col-span-4 flex flex-col gap-2">
        <Aboutme />
        <Experience />
      </div>
      <div class="md:col-span-2 md:self-center grid gap-2">
        <Skills />
      </div>
    </div>
    <Projects />
    <Blogs />
  </main>
</Layout>
